/* Minimal styles to overwrite materialUI items until we can work out how to do it better*/


.MuiListItemText-root span.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1 {
  color: black;
  text-transform: capitalize;
  margin-left: 0.5rem;
}

.MuiList-root a {
  text-decoration: none;
}
